@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

        body {
            font-family: 'Roboto Mono', monospace;
            padding: 0;
            margin: 0;
            border: 0;
        }

        #logo-home {
            width: 8%;
            position: absolute;
            top: 15px;
            left: 100px;
        }

        header {
            background-color: RGB(56, 20, 96);
            height: 200px;
            padding: 0%;
            margin: 0%;
            border: 0%;
            position: absolute;
            top: 0%;
            width: 100%;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        #NinjaWFCTitle {
            border-radius: 25px;
            background: #ffffff;
            padding: 20px;
            width: 200px;
        }

        #time{
            top: 0px;
            right: 50px;
            position: absolute;
            border-radius: 25px;
            background: #ffffff;
            padding: 15px;
        }

        #creator{
            margin-top: 250px;
            text-align: center;
        }

        #nav1{
            border-radius: 25px;
            background: #ffffff;
            padding: 20px;
            display: inline;
        }

        #nocolorlinks{
            color: black;
            text-decoration: none;
            display:inline-block
        }

        .christmas{
            background: repeating-linear-gradient(
            45deg,
            white,
            white 50px,
            red 50px,
            red 60px
            
            );
            border: red 10px solid;
            width: 98.9%;
            border-right: red 11px solid;
        }
        #creatorimg{
            width: 200px;
            height: 200px;
            border: black 5px solid;
        }
        #creatorname{
            text-decoration: black underline;
        }
        #nav{
            text-align: center;
            list-style: none;
            margin-top: 50px;
        }
        #news{
            text-align: center;
            margin-top: 225px;
        }